---
import { Rocket } from "lucide-react"
import { SideBarItem } from "@/components/layout/sidebar/sidebar-item.tsx"
import { type MenuItem } from "@/types/model"

import { modules } from "@/store/sidebar-store"

const firstModule = modules.get()[0]
---

<aside
    id="sidebar"
    class="flex min-w-64 fixed min-h-screen flex-col bg-[#1E1E1E] text-white transition-all delay-100 duration-300 ease-in-out md:static">
    <div
        class="sticky top-0 inline-flex h-20 w-full items-center justify-start gap-3 p-6 py-5 text-xl font-semibold text-white">
        <Rocket className="text-primary" />
        <h1>Logo</h1>
    </div>
    <div class="inline-flex h-11 flex-col items-start justify-start gap-2.5 px-6 py-3">
        <div class="text-xs font-medium leading-tight text-[#8c8c8c]">Menu</div>
    </div>
    <ul>
        {firstModule?.menuItems?.map((menuItem: MenuItem) => <SideBarItem client:only="react" menuItem={menuItem} />)}
    </ul>
</aside>
